body {
  margin: 0;
  height: auto;
  width: auto;
}

.background {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  background-image: url("sea.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.background .water {
  position: absolute;
  background-image: url("sea-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  filter: url("#turbulence");
  background-attachment: fixed;
}
